@import "tailwindcss";

@theme inline {
  --color-base-black: #0A0A0A;
  --color-surface-dark: #111111;
  --color-accent-yellow: #FFCC00;
  --color-bg-white: #FFFFFF;

  --font-sans: var(--font-inter);
  --font-mono: var(--font-jetbrains);
}

html {
  scroll-behavior: smooth;
}

* {
  border-radius: 0 !important;
}

::selection {
  background-color: #FFCC00;
  color: #0A0A0A;
}

body {
  background: var(--color-base-black);
  color: var(--color-bg-white);
}
